@import './variables.scss';
* {
    box-sizing: border-box;
    font-family: $main_font-family;
    font-style: normal;
    scroll-behavior: smooth;    
}
html {
    font-size: 12px;
    @media (max-width: $lg) {           
        font-size: 10px;        
    }    
}
body {
    margin: 0;
    font-family: $main_font-family;
    font-style: normal;   
}
.slider {
    margin-top: 50px;
    @media(max-width: $md) {
        margin-top: 25px;
    }
    &__item {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        & img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
        @media(max-width: $md) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media(max-width: $sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &--special {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &__control:hover {
        background: $main_color-theme;
    }
}
.home {
    min-height: 50vh;
    width: 100%;
    height: 100%;
    position: relative;
    &__wrap {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url('../images/home_img.jpg');
        min-height: 50vh;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;       
        padding: 17rem 0 15rem;             
    }
    &__arrow {
        border: solid;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 0.5rem;
        cursor: pointer;
        position: absolute;
        &--right {
            transform: rotate(-45deg);
            margin-right: 0.5rem;
        }
        &--left {
            transform: rotate(135deg);
            margin-left: 0.5rem;
        }        
    } 
}
.anchor {
    position: absolute;
    z-index: 2;
    width: 6.17rem;
    height: 6.17rem;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.3);
    bottom: 1.67rem;
    left: calc(50% - 3.08rem);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
    @media (hover) {
        &:hover { 
            background-color: $main_color-theme; 
        }           
    }    
    &__square {
    width: 5.33rem;
    height: 5.33rem;
    border-radius: 50%;
    background-color: $main_color;
    position: absolute;
    cursor: pointer;
    left: calc(50% - 2.67rem);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    }    
}
.line {
    max-width: 100vw;
    width: 100%;
    border: 1px solid $color_line;
    position: absolute;
    z-index: 5;
    bottom: 10rem;
}
.container {
    max-width: 97.5rem;
    width: 100%;
    margin: 0 auto;
    @media (max-width: $xl) {           
        max-width: 90%;
    }
    @media (min-width: $xxl) {           
        max-width: 80%;
    }
}
.header {
    width: 100%;     
    padding: 2rem 0;
    color: $main_color;
    position: absolute;
    z-index: 5; 
    transition: 0.2s; 
    @media(max-width: $md) {
        padding: 1rem 0;
    }    
    &__container {
        display: flex;   
        align-items: center;
        justify-content:space-between;
    }
    &__fixed {
        position: fixed;
        background-color: $color_bg_footer;
        top: 0;
        left: 0;
        z-index: 10;        
        transition: 0.2s;    
    }
    &__item {
        display: flex; 
        text-decoration: none; 
        &:nth-child(3) {
            @media (max-width: 900px) {
                display: none;                
            }
        }      
    }
    &__logo {
        cursor: pointer;
        width: 200px;
        @media (max-width: $lg) {
            width: 150px;               
        }
        @media (max-width: $sm) {
            width: 120px;               
        }
    }
    &__navigation {
        display: flex; 
        align-items: center;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    &__icon {
        text-decoration: none;
        font-size: 1.67rem;        
        padding: 10px;
        color: $main_color-light;
        cursor: pointer;
        transition: 0.1s;
        @media (max-width: $sm) {           
            padding: 5px;
        }  
        @media (hover) {
            &:hover {
                color: $main_color-theme;
            }    
        }
    }
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 30px;
    }
    &__link {
        cursor: pointer;
        text-decoration: none;
        color: $main_color;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2;
        transition: 0.1s;
        &:active, &:hover, &:target  {
            color: $main_color-theme;  
            border-bottom: 1px solid $main_color-theme;                      
        }        
        @media (max-width: 1024px) {
            padding: 5px 0;
        }
    }
} 
.burger {
    display: none;
    &__label {
        display: none;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 4rem;
        height: 4rem;   
    }
    &__line {
        width: 80%;
        height: 3px;
        background: $main_color;    
    }
}    
@media (max-width: 900px) {
    .burger__label {
        display: flex;
        cursor: pointer;
        transition: 0.2s;
        &:hover .burger__line {
            background: $main_color-theme;
        }   
    }
    
    .header__navigation {
        max-height: 100vh;
        overflow: auto;
        position: absolute;
        background-color: $main_color-theme;
        width: 100%;
        top:3rem;
        left: 0;
        z-index: 1;
        transform: translateY(-150%);
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__item {
            display: block;
            padding: 5px 0;
        }
        &__link {
            &:active, &:hover  {
                color: $main_color-light;  
                border: none;
                opacity: 0.6;                                       
            }
        }
    } 
    .burger:checked ~ .header__navigation {
        transform: translateY(25%);
        @media (max-width: $md) {
            transform: translateY(15%);
        }
    }
}
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main_color;    
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
    &__subtitle {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: $font-family2;
        margin: 2.08rem 0 ;
    }
    &__title {
        font-size: 6rem;
        letter-spacing: 7px;
        font-weight: 700;  
        margin: 0 0 2.08rem;
        max-width: 950px;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $md) {           
            font-size: 4rem;
        }   
        @media (max-width: 500px) {           
            font-size: 3rem;
        } 
        @media (max-width: $sm) {           
            font-size: 2rem;
        }
        @media (max-width: $xs) {           
            font-size: 1.5rem;
        }
    } 
    &__lines {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    &__line {
        width: 6.58rem;
        height: 1px;
        background-color: $color_shadow;
        border: 1px solid $color_logo;
    }
    &__square {
        width: 7px;
        height: 7px;
        border-radius: 3px;
        background-color: $main_color-theme;
        margin: 0 1.25rem;
    }
    &__text {
        max-width: 50rem;
        width: 100%;
        font-size: 1.17rem;
        line-height: 2rem;
        color: $text_color;
        font-weight: 400;        
        text-align: center;
        margin: 2.08rem 0;
    } 
    &__buttons {  
        margin: 3.75rem 0; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 500px) {           
            flex-direction: column;
            margin: 3em;
        }
    }
    &__button {
        border: none;
        width: 18.75rem;
        height: 4.67rem;
        border-radius: 3px;
        filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.25));
        background-color: $main_color-theme;
        margin: 0 1.25rem;
        font-size: 1.17rem;
        color: $main_color-light;
        font-weight: 700;
        cursor: pointer;
        @media (hover) {
            &:hover {
                border: 1px solid $main_color-theme;  
                background-color: transparent; 
                color: $main_color-theme;
            }
        }
        @media (max-width: $md) {
            margin: 1.25rem;
        }
        &--special {
            line-height: 3.33rem;
            height: 4.5rem;
            border: 1px solid $main_color-light;  
            background-color: transparent;                     
        }
    }         
}
.about {
    background-image: url('../images/depositphotos_4178661-stock-photo-easel-paint-palette.jpg');
    background-size: 47%;
    background-position: right 0 top 50%;
    background-repeat: no-repeat;
    padding: 50px 0;
    &__text {
        max-width: 60%;
        font-size: 1.4rem;
        line-height: 3.33rem;
        color: $color_title;
        font-weight: 600;
        margin-top: 40px;
        width: 100%;
        @media (min-width: $xxl) {
            max-width: 70%;
        }
        @media (max-width: 1300px) {
            font-size: 1.3rem;
        }
        @media (max-width: 950px) {
            font-size: 1.25rem;
            line-height: 3rem;
            max-width: 100%;
        }
        @media (max-width: $md) {
            font-size: 1.2rem;
            line-height: 2.5rem;
            margin-top: 20px;
        }
    }
    @media (min-width: $xxl) {
        background-size: 30%;
        min-height: 500px;
    }
    @media (max-width: 1300px) {
        background-size: 50%;
    }
    @media (max-width: 950px) {
        background-size: 30%;
        background-position: right 0 bottom 0;
    }
    @media (max-width: $md) {
        background-size: 40%;
        padding-top: 25px;
    }
    @media (max-width: 580px) {
        background-position: right 0 bottom 50px;
    }
}
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    &__title {
        font-size: 3rem;
        line-height: 1.67rem;
        color: $color_title;
        font-weight: 700;
        font-family: $font-family2;
        filter: drop-shadow(0px 1px 0px $main_color-light);
        margin: 1.25rem 0;
        text-transform: uppercase;
    }
    &__text {        
        font-size: 1.17rem;
        line-height: 1.75rem;
        color: $main_color-dark;
        font-weight: 400;
        margin: 1.25rem 0;
        text-align: center;
    }
    &__lines {
        margin: 1.25rem 0;
    }
    &__line {
        border: 1px solid $main_color-dark;
    } 
    &__content {
        margin-top: 4.58rem;
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
        width: 100%;
        grid-template-areas:
        "a b c d"
        "e f h j"; 
        @media (max-width: $xl) {           
            grid-template-rows: repeat(2, 1fr);              
        } 
        @media (max-width: $md) {           
            grid-template-columns: repeat(2, 0.5fr);
            grid-template-rows: repeat(4, 0.5fr);  
            grid-template-areas:
            "a b"
            "e f"
            "c d"
            "h j";
            margin-top: 25px; 
        }  
        @media (max-width: $sm) {  
            grid-template-columns: repeat(1, 1fr); 
            grid-template-rows: repeat(8, 1fr); 
            grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "f"
            "e"
            "j"
            "h"; 
        }         
    }
    &__item { 
        position: relative;        
        width: 100%; 
        height: 100%; 
        &:nth-of-type(1) {
            grid-area: a;
        }
        &:nth-of-type(2) {
            grid-area: b;
        }  
        &:nth-of-type(3) {
            grid-area: c;
        }
        &:nth-of-type(4) {
            grid-area: d;
        } 
        &:nth-of-type(5) {
            grid-area: e;
        }
        &:nth-of-type(6) {
            grid-area: f;
        }
        &:nth-of-type(7) {
            grid-area: h;
        }
        &:nth-of-type(8) {
            grid-area: j;
        }
        @media(min-width: $xxs) {
            min-height: 300px;
        }
        @media(min-width: $sm) {
            min-height: 250px;
        }
        @media(min-width: $md) {
            min-height: 200px;
        }
        @media(min-width: $xl) {
            min-height: 350px;
        }         
        @media(min-width: $xxl) {
            min-height: 450px;
        }
    }  
    &__images { 
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }  
}
.hover {     
    background-color: $main_color_bg;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: $main_color-light;
    &__arrow {
        width: 0;
        height: 0;
        border-top: 5.83rem solid transparent;
        border-bottom: 5.83rem solid transparent;
        border-right: 3.75rem solid $main_color-theme;
        border-left: none;
        top: calc(50% - 5.83rem);
        left: -3.75rem;
        position: absolute;
        z-index: 2;
        @media (max-width: $xl) {           
            border-top: 3rem solid transparent;
            border-bottom: 3rem solid transparent;
            border-right: 2rem solid $main_color-theme;            
            top: calc(50% - 3rem);
            left: -2rem;            
        }
        @media (min-width: 1920px) {           
            border-top: 6rem solid transparent;
            border-bottom: 6rem solid transparent;
            border-right: 5rem solid $main_color-theme;            
            top: calc(50% - 6rem);
            left: -5rem;            
        }
        &--right {            
            border-left: 3.75rem solid $main_color-theme;            
            left: 100%;
            border-right: none;
            @media (max-width: $xl) {           
                border-left: 2rem solid $main_color-theme;                           
            }
            @media (min-width: 1920px) { 
                border-left: 5rem solid $main_color-theme; 
            }                 
        }
        @media (max-width: $sm) { 
            display: none;
        }
    }
    &__subtitle {
        font-size: 1.17rem;
        letter-spacing: 1px;
        font-weight: 400; 
        margin: 0; 
        @media (max-width: 1600px) {
            font-size: 1rem;          
        }        
    }
    &__title {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        font-family: $font-family2;
        margin: 2.08rem 0 0;
        text-transform: uppercase;
        @media (max-width: 1600px) {
            font-size: 1.5rem;  
            margin: 1rem 0 0;        
        }        
        &::after {
            content: "";
            display: block;
            border-top: 1px solid $main_color-light;
            z-index: 5;
            margin: 1.25rem 0 0 0; 
            left: 0;             
        }
    }
    &__text {
        max-width: 31.8rem;
        font-size: 1.33rem;
        line-height: 2.5rem;
        margin: 3.75rem 0 0 0;
        @media (max-width: 1600px) {
            font-size: 1.2rem;  
            margin: 2rem 0 0 0;        
        }
        & p {
            margin: 0;
            @media (max-width: 1200px) {
                line-height: 22px;  
            }
        }
    }    
    &__button {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        font-style: italic; 
        margin:4.17rem 0 0 0;        
        cursor: pointer;
        text-decoration: none;
        color: $main_color-light;
        &:hover {
            opacity: 0.7;
        }
        @media (max-width: 1600px) {
            font-size: 1.3rem;  
            margin: 2rem 0 0 0;        
        }               
    }    
}
.gallery {
    padding-bottom: 50px;
}
.reviews {
    padding-bottom: 50px;
    background-image: url('../images/reviews_img.jpg'), url('../images/images.jfif');
    background-size: 30%;
    background-position: right 0 top 0%, left 0 top 0%;
    background-repeat: no-repeat;
    min-height: 500px;
    &__text {
        max-width: 50%;
        margin: 0 auto;
        font-size: 1.4rem;
        line-height: 3.33rem;
        color: $color_title;
        font-weight: 600;
        width: 100%;
        font-style: italic;
        text-align: center;
        @media (max-width: 1300px) {
            font-size: 1.3rem;
        }
        @media (max-width: 1200px) {
            max-width: 45%;
        }
        @media (max-width: 950px) {
            font-size: 1.25rem;
            line-height: 3rem;
        }
        @media (max-width: $md) {
            font-size: 1.2rem;
            line-height: 2.5rem;
            margin-top: 20px;
            max-width: 55%;
        }
        @media (max-width: $md) {
            max-width: 70%;
        }
        &--special {
            color: $main_color-theme;
        }
    }
    @media (min-width: 1700px) {
        background-size: 25%;
    }
    @media (min-width: 2000px) {
        background-size: 20%;
    }
    @media (max-width: 1300px) {
        background-size: 35%;
    }
    @media (max-width: 1100px) {
        background-size: 40%;
        min-height: 400px;
    }
    @media (max-width: 900px) {
        background-size: 45%;
        background-position: right -50px top 0%, left -50px top 0%;
    }
    @media (max-width: $md) {
        background-size: 50%;
        background-position: right -50px top 0%, left -50px top 0%;
    }
    @media (max-width: 700px) {
        background-size: 55%;
        background-position: right -100px top 0%, left -100px top 0%;
    }
    @media (max-width: 600px) {
        background-size: 70%;
        background-position: right -120px top 0%, left -120px top 0%;
    }
    @media (max-width: 520px) {
        background-image: url('../images/images.jfif');
        padding-bottom: 25px;
    }
    @media (max-width: 520px) {
        background-size: 80%;
    }
    @media (max-width: 400px) {
        background-size: 100%;
    }
}
.footer {
    background-color: $color_bg_footer;
    min-height: 7.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__button {
        position: absolute;
        z-index: 5;
        width: 4.42rem;
        height: 4.42rem;
        border-radius: 50%;
        filter: drop-shadow(0px 3px 2.5px rgba(0,0,0,0.25));
        background-color: $main_color-theme;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$main_color-light;
        transform: rotate(225deg);
        top: -2.17rem;
        right:4.17rem;
        cursor: pointer;
        @media (hover) {
            &:hover {
                border: 1px solid $main_color-theme;  
                background-color: $main_color-light; 
                color: $main_color-theme; 
            }    
        }
    }
    &__container {
        display: flex; 
        flex-direction: row;       
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media (max-width: $md) {           
            flex-direction: column;
            justify-content: center;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }
    &__icon {
        font-size: 1.67rem;        
        padding: 10px;
        color: $main_color-dark;
        cursor: pointer;
        @media (max-width: $sm) {           
            padding: 5px;
        }        
        &--special {
            filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.25));
            color: $main_color-theme;
        }
        @media (hover) {
            &:hover {
                color: $main_color-light;
            }    
        }
    }
    &__text {
        font-size: 1.17rem; 
        line-height: 2rem;
        color: $main_color-dark;
        font-weight: 600;
    }
}