$xxl: 1920px;
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 425px;
$xs: 375px;
$xxs: 320px;
$main_color: #f4f5f9;
$main_color-light: #fff;
$main_color-dark: #999999;
$main_color-theme: #e74c3c;
$color_bg_arrow: #6f6863;
$color_arrow: #303030;
$color_line:#ddd;
$color_bg_footer:#202020;
$color_logo: #f1ebe7;
$color_logo_dark: #4a4c55;
$color_shadow: #000000;
$color_title: #6a6a6a;
$main_color_bg: #e74e3e;
$text_color: #cbc6c0;
$main_font-family: 'Open Sans', sans-serif;
$font-family2:'Source Sans Pro', sans-serif;