<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Diart - это Арт-вечеринки №1 в Киеве</title>
<link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
<meta property="og:title" content="">
<meta property="og:site_name" content="">
<meta property="og:url" content="">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcgDThiwbN5HtfGt_nisQblJsvz0sPKsuJsQ&usqp=CAU">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">      
<link rel="stylesheet" href="../scss/normalize.css">
<link rel="stylesheet" href="../icomoon/style.css">
<link rel="stylesheet" href="../scss/chief-slider.min.css">
<link rel="stylesheet" href="../scss/style.css">   
</head>
<body>
    <header class="header" id="myHeader">
        <div class="container header__container">
            <a class="header__item" href="#home">
                <img class="header__logo" src="../images/Logo_invert_DiArt.png">
            </a>
            <div class="header__item">
                <input id="burger" type="checkbox" class="burger">
                <label for="burger" class="burger__label">
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                </label>
                <nav class="header__navigation">
                    <ul class="list">
                        <li class="list__item"><a class="list__link" href="#about"><span class="list__item--active">О нас</span></a></li>
                        <li class="list__item"><a class="list__link" href="#blog">Расписание</a></li>
                        <li class="list__item"><a class="list__link" href="#gallery">Галерея</a></li>
                        <li class="list__item"><a class="list__link" href="#reviews">Отзывы</a></li>
                        <!--<li class="list__item"><a class="list__link" href="#contacts">Контакты</a></li>-->
                    </ul>
                </nav>                   
            </div>
            <div class="header__item">
                <div class="header__icons">
                    <a class="header__icon icon-instagram" href='https://www.instagram.com/diart.kiev/' target="_blank"></a>
                    <a class="header__icon icon-facebook" href="https://www.facebook.com/Diart.Kiev" target="_blank"></a>
                </div>
            </div>
        </div>  
    </header>
    <div class="home">
        <div class="home__wrap" id="home">        
            <div class="container home__container">               
                <div class="homepage">
                    <h3 class="homepage__subtitle">Арт-вечеринки №1 в Киеве</h3>
                    <h1 class="homepage__title">Добро пожаловать в Diart</h1>
                    <div class="homepage__lines">
                        <div class="homepage__line"></div>
                        <div class="homepage__square"></div>
                        <div class="homepage__line"></div>
                    </div>               
                    <p class="homepage__text">Мы собираемся в кафе и барах в центре Киева душевной компанией и проводим необычные вечеринки, на которых пишут картины </p>
                </div>      
            </div>                     
        </div>  
        <a class="anchor" href="#blog"> 
            <div class="anchor__square">         
                <img class="anchor__image"
                src="../images/anchor.svg"
                alt="anchor"> 
            </div>     
        </a> 
        <div class="line"></div>        
    </div>
    <main class="main">
        <section id="about" class="about">
            <div class="container blog__container">
                <h2 class="blog__title">О нас</h2>
                <p class="blog__text">С нами вы воплотите все свои творческие мечты и проекты</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div>
            </div>
            <div class="container">
                <p class="about__text">С нами вы воплотите  все свои творческие мечты и проекты. Наша территория творчества создана для вас!
                    Diart - это творческое пространство, которое создают талантливые мастера с большим опытом практической работы, любящие свое дело, создающие рукотворную красоту, постоянно совершенствующие свои навыки и умения. В творческом взаимодействии с участниками наших мастер-классов, мы делимся знаниями, опытом, вдохновением и позитивными эмоциями, даем вам возможность проявить и реализовать свой творческий потенциал и стать ТВОРЦОМ.                        
                    Мы проводим творческие мастер-классы в уютной студии в центре Киева, выездные мастер-классы на вашей территории или корпоративные мастер-классы на мероприятии вашей компании, мастер-классы для детей в школе или на дне рождения.                        
                    До встречи на территории творчества и счастья!
                </p>
            </div>
        </section>
        <section class="blog" id="blog">
            <div class="container blog__container">
                <h2 class="blog__title">Расписание</h2>
                <p class="blog__text">Мастер-классы на ближайшее время</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div> 
            </div>
            <div class="blog__content">
                <div class="blog__item">                    
                    <img class="blog__images" src="../images/item_1.jpg" alt="img">
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow"></div>
                        <p class="hover__subtitle">Арт-вечеринка</p>
                        <h4 class="hover__title">В его руках</h4>
                        <div class="hover__text">
                            <p>13 февраля (воскресенье)</p>
                            <p>Начало: 12:00</p>
                            <p>Стоимость: 600грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записаться &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">                    
                    <img class="blog__images" src="../images/item_2.jpg" alt="img">
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow"></div>
                        <p class="hover__subtitle">Арт-вечеринка</p>
                        <h4 class="hover__title">Девушка-пион</h4>
                        <div class="hover__text">
                            <p>13 февраля (воскресенье)</p>
                            <p>Начало: 12:00</p>
                            <p>Стоимость: 600грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записаться &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow hover__arrow--right"></div>
                        <p class="hover__subtitle">Арт-вечеринка</p>
                        <h4 class="hover__title">Кокосы</h4>
                        <div class="hover__text">
                            <p>13 февраля (воскресенье)</p>
                            <p>Начало: 12:00</p>
                            <p>Стоимость: 600грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записаться &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">                   
                    <img class="blog__images" src="../images/item_3.jpg" alt="img">
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow hover__arrow--right"></div>
                        <p class="hover__subtitle">Арт-вечеринка</p>
                        <h4 class="hover__title">Папайя</h4>
                        <div class="hover__text">
                            <p>13 февраля (воскресенье)</p>
                            <p>Начало: 12:00</p>
                            <p>Стоимость: 600грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записаться &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">                    
                    <img class="blog__images" src="../images/item_4.jpg" alt="img">
                </div>                        
            </div>               
        </section>
        <section class="gallery" id="gallery">
            <div class="container blog__container">
                <h2 class="blog__title">Галерея</h2>
                <p class="blog__text">Мы гордимся  большими и маленькими достижениями наших учеников</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div> 
            </div>
            <div class="slider">
                <div class="slider__container">
                  <div class="slider__wrapper">
                    <div class="slider__items">
                      <div class="slider__item">
                        <img src="../images/img_1.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_2.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_3.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_4.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_5.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_6.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_7.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_8.webp" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_9.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_10.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_11.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_12.jpg" alt="photo">
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="slider__control" data-slide="prev"></a>
                <a href="#" class="slider__control" data-slide="next"></a>
            </div>
        </section>
        <!--<section id="contacts" class="contacts">
            <div class="container blog__container">
                <h2 class="blog__title">Отзывы</h2>
                <p class="blog__text">Что говорят наши клиенты</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div>
            </div>
        </section>-->
        <section id="reviews" class="reviews">
            <div class="container blog__container">
                <h2 class="blog__title">Отзывы</h2>
                <p class="blog__text">Что говорят наши клиенты</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div>
            </div>
            <div class="slider slider--special">
                <div class="slider__container">
                  <div class="slider__wrapper">
                    <div class="slider__items">
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text">
                                Огромное спасибо за мк по живописи! У вас замечательное, уютное и креативное пространство для творческой реализации мечт. Удивительно дружеская атмосфера! Ты и расслаблено наслаждаешься процессом и каждый раз в итоге получаешь кайф от результата. Спасибо! Прийду ещё обязательно!
                            </p>
                            <p class="reviews__text reviews__text--special">Лариса</p>
                        </div>
                      </div>
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text">Пришла в студию на живопись, чтобы попробовать рисовать (в детстве вроде получалось). Понравилось, с тех пор прошло три года… Хожу с удовольствием до сих пор, многому научилась и хочется все больше и больше. Атмосфера замечательная — семейная, душевная.
                            </p>
                            <p class="reviews__text reviews__text--special">Виктория</p>
                        </div>
                      </div>
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text"> Уже несколько лет, как я знакома с Diart и той классной командой, которая создает этот проект. Каждый мастер-класс, мероприятие, каждый образец и фото – наполнены любовью к тому, чем занимается студия. Тут, вас вдохновят на творчество и расскажут, как искать это самое вдохновение. 
                            </p>
                            <p class="reviews__text reviews__text--special">Ирина</p>
                        </div>
                      </div>
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text">На мастер-классе «Интуитивное рисование» невероятная атмосфера! Теплая, дружеская обстановка, индивидуальный подход, позитивно, открыто, увлекательно.
                            </p>
                            <p class="reviews__text reviews__text--special">Маша</p>
                        </div>
                      </div>             
                    </div>
                  </div>
                </div>
                <a href="#" class="slider__control" data-slide="prev"></a>
                <a href="#" class="slider__control" data-slide="next"></a>
            </div>
        </section>        
    </main>
    <footer class="footer">
        <a href="#home" class="footer__button"><div class="home__arrow"></div></a>
        <div class="container footer__container">
            <div class="footer__item">
                <div class="header__icons">
                    <a class="header__icon icon-instagram" href='https://www.instagram.com/diart.kiev/' target="_blank"></a>
                    <a class="header__icon icon-facebook" href="https://www.facebook.com/Diart.Kiev" target="_blank"></a>
                </div>
            </div>
            <div class="footer__item"><span class="footer__text">Diart Kiev &#169; All Rights Reserved</span></div>
        </div>        
    </footer>
    <script src="../js/chief-slider.min.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>