<!DOCTYPE html>
<html lang="ua">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Diart - це Арт-вечірки №1 в Києві</title>
<link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
<meta property="og:title" content="">
<meta property="og:site_name" content="">
<meta property="og:url" content="">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcgDThiwbN5HtfGt_nisQblJsvz0sPKsuJsQ&usqp=CAU">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">      
<link rel="stylesheet" href="../scss/normalize.css">
<link rel="stylesheet" href="../icomoon/style.css">
<link rel="stylesheet" href="../scss/chief-slider.min.css">
<link rel="stylesheet" href="../scss/style.css">   
</head>
<body>
    <header class="header" id="myHeader">
        <div class="container header__container">
            <a class="header__item" href="#home">
                <img class="header__logo" src="../images/Logo_invert_DiArt.png">
            </a>
            <div class="header__item">
                <input id="burger" type="checkbox" class="burger">
                <label for="burger" class="burger__label">
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                </label>
                <nav class="header__navigation">
                    <ul class="list">
                        <li class="list__item"><a class="list__link" href="#about"><span class="list__item--active">Про нас</span></a></li>
                        <li class="list__item"><a class="list__link" href="#blog">Розклад</a></li>
                        <li class="list__item"><a class="list__link" href="#gallery">Галерея</a></li>
                        <li class="list__item"><a class="list__link" href="#reviews">Відгуки</a></li>
                        <!--<li class="list__item"><a class="list__link" href="#contacts">Контакти</a></li>-->
                    </ul>
                </nav>                   
            </div>
            <div class="header__item">
                <div class="header__icons">
                    <a class="header__icon icon-instagram" href='https://www.instagram.com/diart.kiev/' target="_blank"></a>
                    <a class="header__icon icon-facebook" href="https://www.facebook.com/Diart.Kiev" target="_blank"></a>
                </div>
            </div>
        </div>  
    </header>
    <div class="home">
        <div class="home__wrap" id="home">        
            <div class="container home__container">               
                <div class="homepage">
                    <h3 class="homepage__subtitle">Арт-вечірки №1 в Києві</h3>
                    <h1 class="homepage__title">Ласкаво просимо до Diart</h1>
                    <div class="homepage__lines">
                        <div class="homepage__line"></div>
                        <div class="homepage__square"></div>
                        <div class="homepage__line"></div>
                    </div>               
                    <p class="homepage__text">Ми збираємося в кафе та барах у центрі Києва душевною компанією та проводимо незвичайні вечірки.</p>
                </div>      
            </div>                     
        </div>  
        <a class="anchor" href="#blog"> 
            <div class="anchor__square">         
                <img class="anchor__image"
                src="../images/anchor.svg"
                alt="anchor"> 
            </div>     
        </a> 
        <div class="line"></div>        
    </div>
    <main class="main">
        <section id="about" class="about">
            <div class="container blog__container">
                <h2 class="blog__title">Про нас</h2>
                <p class="blog__text">З нами ви втілите всі свої творчі мрії та проекти</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div>
            </div>
            <div class="container">
                <p class="about__text">З нами ви втілите усі свої творчі мрії та проекти. Наша територія творчості створена для Вас!
                    Diart - е творчий простір, який створюють талановиті майстри з великим досвідом практичної роботи, що люблять свою справу, створюють рукотворну красу, постійно вдосконалюють свої навички та вміння. У творчій взаємодії з учасниками наших майстер-класів ми ділимося знаннями, досвідом, натхненням та позитивними емоціями, даємо вам можливість проявити та реалізувати свій творчий потенціал та стати ТВОРЦЕМ.
                    Ми проводимо творчі майстер-класи у затишній студії в центрі Києва, виїзні майстер-класи на вашій території або корпоративні майстер-класи на заході вашої компанії, майстер-класи для дітей у школі чи на дні народження.
                    До зустрічі на території творчості та щастя!
                </p>
            </div>
        </section>
        <section class="blog" id="blog">
            <div class="container blog__container">
                <h2 class="blog__title">Розклад</h2>
                <p class="blog__text">Майстер-класи на найближчий час</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div> 
            </div>
            <div class="blog__content">
                <div class="blog__item">                    
                    <img class="blog__images" src="../images/item_1.jpg" alt="img">
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow"></div>
                        <p class="hover__subtitle">Арт-вечірка</p>
                        <h4 class="hover__title">В його руках</h4>
                        <div class="hover__text">
                            <p>13 лютого (неділя)</p>
                            <p>Початок: о 12:00</p>
                            <p>Вартість: 600 грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записатися &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">                    
                    <img class="blog__images" src="../images/item_2.jpg" alt="img">
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow"></div>
                        <p class="hover__subtitle">Арт-вечірка</p>
                        <h4 class="hover__title">Дівчина-півонія</h4>
                        <div class="hover__text">
                            <p>15 лютого (вівторок)</p>
                            <p>Початок: о 16:00</p>
                            <p>Вартість: 600 грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записатися &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow hover__arrow--right"></div>
                        <p class="hover__subtitle">Арт-вечірка</p>
                        <h4 class="hover__title">Кокоси</h4>
                        <div class="hover__text">
                            <p>17 лютого (четвер)</p>
                            <p>Початок: о 16:00</p>
                            <p>Вартість: 600 грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записатися &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">                   
                    <img class="blog__images" src="../images/item_3.jpg" alt="img">
                </div>
                <div class="blog__item">
                    <div class="hover"> 
                        <div class="hover__arrow hover__arrow--right"></div>
                        <p class="hover__subtitle">Арт-вечірка</p>
                        <h4 class="hover__title">Папайя</h4>
                        <div class="hover__text">
                            <p>20 лютого (неділя)</p>
                            <p>Початок: о 12:00</p>
                            <p>Вартість: 600 грн</p>
                        </div>
                        <a class="hover__button" href="https://www.facebook.com/Diart.Kiev" target="_blank">Записатися &raquo;</a>
                    </div>                    
                </div>
                <div class="blog__item">                    
                    <img class="blog__images" src="../images/item_4.jpg" alt="img">
                </div>                        
            </div>               
        </section>
        <section class="gallery" id="gallery">
            <div class="container blog__container">
                <h2 class="blog__title">Галерея</h2>
                <p class="blog__text">Ми пишаємося великими та маленькими досягненнями наших учнів</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div> 
            </div>
            <div class="slider">
                <div class="slider__container">
                  <div class="slider__wrapper">
                    <div class="slider__items">
                      <div class="slider__item">
                        <img src="../images/img_1.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_2.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_3.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_4.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_5.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_6.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_7.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_8.webp" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_9.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_10.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_11.jpg" alt="photo">
                      </div>
                      <div class="slider__item">
                        <img src="../images/img_12.jpg" alt="photo">
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="slider__control" data-slide="prev"></a>
                <a href="#" class="slider__control" data-slide="next"></a>
            </div>
        </section>
        <section id="reviews" class="reviews">
            <div class="container blog__container">
                <h2 class="blog__title">Відгуки</h2>
                <p class="blog__text">Що кажуть наші клієнти</p>
                <div class="homepage__lines blog__lines">
                    <div class="homepage__line blog__line"></div>
                    <div class="homepage__square"></div>
                    <div class="homepage__line blog__line"></div>
                </div>
            </div>
            <div class="slider slider--special">
                <div class="slider__container">
                  <div class="slider__wrapper">
                    <div class="slider__items">
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text">
                                Велике дякую за мк з живопису! У вас чудовий, затишний та креативний простір для творчої реалізації мрій. Напрочуд дружня атмосфера! Ти і спокійно насолоджуєшся процесом і щоразу в результаті отримуєш кайф від результату. Спасибі! Прийду обов'язково!
                            </p>
                            <p class="reviews__text reviews__text--special">Лариса</p>
                        </div>
                      </div>
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text">Пришла в студию на живопись, чтобы попробовать рисовать (в детстве вроде получалось). Понравилось, с тех пор прошло три года… Хожу с удовольствием до сих пор, многому научилась и хочется все больше и больше. Атмосфера замечательная — семейная, душевная.
                            </p>
                            <p class="reviews__text reviews__text--special">Виктория</p>
                        </div>
                      </div>
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text"> Вже кілька років, як я знайома з Diart та тією класною командою, яка створює цей проект. Кожен майстер-клас, захід, кожен зразок та фото – сповнені любов'ю до того, чим займається студія. Тут вас надихнуть на творчість і розкажуть, як шукати це саме натхнення.                          </p>
                            <p class="reviews__text reviews__text--special">Ірина</p>
                        </div>
                      </div>
                      <div class="slider__item slider__item--special">
                        <div class="container">
                            <p class="reviews__text">На майстер-класі "Інтуїтивне малювання" неймовірна атмосфера! Тепла, дружня атмосфера, індивідуальний підхід, позитивно, відкрито, захоплююче.
                            </p>
                            <p class="reviews__text reviews__text--special">Маша</p>
                        </div>
                      </div>             
                    </div>
                  </div>
                </div>
                <a href="#" class="slider__control" data-slide="prev"></a>
                <a href="#" class="slider__control" data-slide="next"></a>
            </div>
        </section>        
    </main>
    <footer class="footer">
        <a href="#home" class="footer__button"><div class="home__arrow"></div></a>
        <div class="container footer__container">
            <div class="footer__item">
                <div class="header__icons">
                    <a class="header__icon icon-instagram" href='https://www.instagram.com/diart.kiev/' target="_blank"></a>
                    <a class="header__icon icon-facebook" href="https://www.facebook.com/Diart.Kiev" target="_blank"></a>
                </div>
            </div>
            <div class="footer__item"><span class="footer__text">Diart Kiev &#169; All Rights Reserved</span></div>
        </div>        
    </footer>
    <script src="../js/chief-slider.min.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>
